/* popup.css */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #090;
    padding: 10px;    
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.container {
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expression {
    font-size: 12px;
    width: 450px;
    padding: 10px;
}

.result {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
}

.legends {
    font-size: 9px;
    font-style: italic;
    color: #666;
    border-top: 1px solid #ccc;
    margin: 2px;
    padding: 2px;
}

.legend-item{
    font-size: 9px;
    color: #666;
    padding: 2px;
    margin: 2px;
}

